<!-- dcat:Catalog Class Template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances of dcat:Catalog -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="dcatCatalogInstances">
          SELECT ?type ?instance (COUNT(?dataset) AS ?datasets) ?dctype ?description  WHERE {
            BIND (?? AS ?class)
            ?instance (rdf:type|owl:type) ?class .
            OPTIONAL { ?instance a ?type . }
            OPTIONAL {
              ?instance dct:description ?description .
              FILTER (lang(?description) = visoto:dispLang || lang(?description) = "")
            }
            OPTIONAL { ?instance dct:type ?dctype . }
            OPTIONAL { ?instance dcat:dataset ?dataset . }
          } GROUP BY ?type ?instance ?description ?dctype
          ORDER BY ?instance
          LIMIT 10000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "dcatCatalogInstances"
            "iri" .ResourceIRI
            "title" (t "card.catalogs" "Catalogs")
            "icon" "books"
            "iconVar" "type")
        }}
      </div>
    </div>
  </div>

  {{ template "classHierarchy" . }}

  {{ template "relationships" . }}

  {{ template "ontologyShacl" . }}

</div>
{{ end }}
