<!-- dcat:Distribution Class Template -->

{{ define "pageTitle" }}{{ t "type.distribution.title" "DCAT Distribution" }}{{ end }}
{{ define "metaTitle" }}{{ t "type.distribution.metaTitle" "DCAT Distribution" }}{{ end }}
{{ define "metaIcon"  }}{{ resourceIcon . }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description { ?? visoto:description ?description . FILTER (lang(?description) = visoto:dispLang || lang(?description) = "") }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageContent" }}
<div>

  <!-- instances of dcat:Distribution -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="dcatDistributionInstances" class="d-none">
          SELECT ?type ?instance ?identifier ?format ?license WHERE {
            BIND (?? AS ?type)
            ?instance (rdf:type|owl:type) ?type .
            OPTIONAL { ?instance dct:identifier ?identifier . }
            OPTIONAL { ?instance dct:format ?format . }
            OPTIONAL { ?instance dct:license ?license . }
          } LIMIT 50000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "dcatDistributionInstances"
            "iri" .ResourceIRI
            "title" (t "card.distributions" "Distributions")
            "icon" "file-download"
            "iconVar" "type")
        }}
      </div>
    </div>
  </div>


</div>
{{ end }}
