<!-- Default class template, used for any class without a specific template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances of this class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="instances">
          SELECT DISTINCT ?class ?instance ?description WHERE {
            BIND (?? AS ?class) .
            ?instance a ?class .
            OPTIONAL {
              ?instance visoto:description ?description .
              FILTER (lang(?description) = visoto:dispLang || lang(?description) = "")
            }
          }
          ORDER BY ?instance
          LIMIT 10000
        </sparql-async>
        <sparql-columns for="instances">
          <sparql-column var="class" icon></sparql-column>
          <sparql-column var="instance" icon filter></sparql-column>
        </sparql-columns>

        {{ template "sparqlAsyncTable" (dict
            "queryId" "instances"
            "iri" .ResourceIRI
            "title" (t "card.instances" "Instances")
            "icon" "circle-dot")
        }}
      </div>
    </div>
  </div>

  {{ template "relationships" . }}

</div>
{{ end }}
