<!-- OWL Class Template -->

{{ define "pageTitle" }}{{ t "type.class.title" "RDF Class" }}{{ end }}
{{ define "metaTitle" }}{{ t "type.class.metaTitle" "RDF Class" }}{{ end }}
{{ define "metaIcon"  }}{{ resourceIcon . }}{{ end }}

<sparql-query id="pageClasses">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="owlClassInstances">
          SELECT DISTINCT ?class ?description WHERE {
            ?class a ?? .
            OPTIONAL { ?class visoto:description ?description .
            FILTER (lang(?description) = visoto:dispLang || lang(?description) = "") }
          }
          ORDER BY ?class
          LIMIT 10000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "owlClassInstances"
            "iri" .ResourceIRI
            "title" (t "card.classesInDataset" "Classes in Dataset")
            "icon" "circle-dot"
            "iconVar" "class")
        }}
      </div>
    </div>
  </div>

  {{ template "relationships" . }}

</div>
{{ end }}
