<!-- RDF Class Template -->

{{ define "pageTitle" }}RDF Class{{ end }}
{{ define "metaTitle" }}RDF Class{{ end }}
{{ define "metaIcon"  }}{{ resourceIcon . }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-query id="instances" class="d-none">
          SELECT DISTINCT ?class ?description WHERE {
            ?class a ?? .
            OPTIONAL { ?class rdfs:comment|schema:description|dct:description ?description . }
          }
          ORDER BY ?class
          LIMIT 10000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.instances
            "id" "instances"
            "title" "Classes found"
            "icon" "circle-dot"
            "iconVar" "class")
        }}
      </div>
    </div>
  </div>

  <!-- subclasses -->
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="subclasses" class="d-none">
          SELECT DISTINCT ?subclass WHERE {
            BIND (?? AS ?class)
            ?subclass rdfs:subClassOf ?class .
          }
          ORDER BY ?subclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.subclasses
            "id" "subclasses"
            "title" "Subclasses"
            "icon" "circle-chevron-down"
            "collapsed" false
            "iconVar" "subclass")
        }}
      </div>
    </div>

    <!-- superclasses -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="superclasses" class="d-none">
          SELECT DISTINCT ?superclass WHERE {
            BIND (?? AS ?class)
            ?class rdfs:subClassOf ?superclass .
          }
          ORDER BY ?superclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.superclasses
            "id" "superclasses"
            "title" "Superclasses"
            "icon" "circle-chevron-up"
            "collapsed" false
            "iconVar" "superclass")
        }}
      </div>
    </div>
  </div>

  {{ template "relationships" . }}

  {{ template "ontologyShacl" . }}

</div>
{{ end }}
