<!-- RDF Class Template -->

{{ define "pageTitle" }}{{ t "type.class.title" "RDF Class" }}{{ end }}
{{ define "metaTitle" }}{{ t "type.class.metaTitle" "RDF Class" }}{{ end }}
{{ define "metaIcon"  }}{{ resourceIcon . }}{{ end }}

<sparql-query id="pageClasses">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="rdfsClassInstances">
          SELECT DISTINCT ?class ?description WHERE {
            ?class a ?? .
            OPTIONAL { ?class visoto:description ?description .
              FILTER (lang(?description) = visoto:dispLang || lang(?description) = "") }
          }
          ORDER BY ?class
          LIMIT 10000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "rdfsClassInstances"
            "iri" .ResourceIRI
            "title" (t "card.classesFound" "Classes found")
            "icon" "circle-dot"
            "iconVar" "class")
        }}
      </div>
    </div>
  </div>

  <!-- subclasses -->
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="subclasses">
          SELECT DISTINCT ?subclass WHERE {
            BIND (?? AS ?class)
            ?subclass rdfs:subClassOf ?class .
          }
          ORDER BY ?subclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.subclasses
            "id" "subclasses"
            "title" (t "card.subclasses" "Subclasses")
            "icon" "circle-chevron-down"
            "collapsed" false
            "iconVar" "subclass")
        }}
      </div>
    </div>

    <!-- superclasses -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="superclasses">
          SELECT DISTINCT ?superclass WHERE {
            BIND (?? AS ?class)
            ?class rdfs:subClassOf ?superclass .
          }
          ORDER BY ?superclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.superclasses
            "id" "superclasses"
            "title" (t "card.superclasses" "Superclasses")
            "icon" "circle-chevron-up"
            "collapsed" false
            "iconVar" "superclass")
        }}
      </div>
    </div>
  </div>

  {{ template "relationships" . }}

  {{ template "ontologyShacl" . }}

</div>
{{ end }}
