{{ define "pageTitle" }}Zefix Organization Class{{ end }}

{{ define "pageContent" }}

  <!-- outgoing relationships -->
  <div class="">

    <h2>Outgoing Relationships</h2>

    <sparql-query id="outgoing" class="d-none">
      SELECT ?s ?p ?o WHERE {
        BIND (?? AS ?s)
        ?s ?p ?o .
      } LIMIT 1000
    </sparql-query>
    {{ template "sparqlTable" (dict "result" .QueryResults.outgoing "id" "outgoing" "title" "Outgoing Relationships") }}

  </div>

  <!-- incoming relationships -->
  <div class="mt-5">

    <h2>Incoming Relationships</h2>

    <sparql-query id="incoming" class="d-none">
      SELECT ?s ?p ?o WHERE {
        BIND (?? AS ?o)
        ?s ?p ?o .
      } LIMIT 10
    </sparql-query>
    {{ template "sparqlTable" (dict "result" .QueryResults.incoming "id" "incoming" "title" "Incoming Relationships") }}

  </div>

{{ end }}