<!-- Zefix Class Template, listing all instances of this class -->

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}

{{ define "pageContent" }}
<div>

  <!-- instances of this class -->
  <div class="mt-0">
    <sparql-query id="instances" class="d-none">
      SELECT ?org ?description WHERE {
        BIND (?? AS ?class)
        ?org rdf:type ?class .
        OPTIONAL { ?org schema:description ?description . }
      } LIMIT 20000
    </sparql-query>
    {{ template "sparqlTable" (dict 
        "result" .QueryResults.instances 
        "id" "instances" 
        "title" "Instances of this Class"
        "icon" "circle-dot")
    }}
  </div>

  <!-- outgoing relationships -->
  <div class="mt-3">
    <sparql-query id="outgoing" class="d-none">
      SELECT ?s ?p ?o WHERE {
        BIND (?? AS ?s)
        ?s ?p ?o .
      } LIMIT 100
    </sparql-query>
    {{ template "sparqlTable" (dict 
          "result" .QueryResults.outgoing 
          "id" "outgoing" 
          "title" "Outgoing Relationships"
          "icon" "expand") 
    }}
  </div>

  <!-- incoming relationships -->
  <div class="mt-3">
    <sparql-query id="incoming" class="d-none">
      SELECT ?s ?p ?o WHERE {
        BIND (?? AS ?o)
        ?s ?p ?o .
        FILTER (?p != rdf:type)
      } LIMIT 100
    </sparql-query>
    {{ template "sparqlTable" (dict 
        "result" .QueryResults.incoming 
        "id" "incoming" 
        "title" "Incoming Relationships"
        "icon" "shrink") 
    }}
  </div> 
</div>
{{ end }}