<!-- Municipality Class Template, listing all instances of this class -->

{{ define "breadcrumb" }}
  <li class="breadcrumb-item">  <a href="/resource/schema:Country">Country</a></li>
  <li class="breadcrumb-item">  <a href="/resource/schch:Canton">Canton</a></li>
{{ end}}

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}

{{ define "pageContent" }}
<div>
  <!-- instances of this class -->
  <div class="mt-0">
    <sparql-query id="instances" class="d-none">
      SELECT ?municipality ?identifier ?district ?canton (GROUP_CONCAT(?postalCode; separator=", ") AS ?postalCodes)
      WHERE {
        BIND (?? AS ?class)
        ?municipality (rdf:type|owl:type) ?class .
        ?municipality schema:identifier ?identifier . # data issue LINDAS: there are many municipalities without identifier?
        OPTIONAL { ?municipality schema:containedInPlace ?district . ?district a schch:District . }
        OPTIONAL { ?canton schema:hasPart ?district . ?canton a schch:Canton . }
        OPTIONAL { ?municipality schema:postalCode ?postalCode . }
      }
      GROUP BY ?municipality ?district ?canton ?identifier
      LIMIT 20000
    </sparql-query>
    {{ template "sparqlTable" (dict
        "result" .QueryResults.instances
        "id" "instances"
        "title" "Municipalities"
        "icon" "layout-list")

    }}
  </div>
</div>
{{ end }}
