<!-- Default Class Template, for any resource which doesn't have a specific template -->

{{ define "pageTitle" }}
  <sparql-query id="pageTitle" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
  {{ if .QueryResults.pageTitle.Bindings }}{{ (index .QueryResults.pageTitle.Bindings 0).title.Value }}{{ end }}
{{ end }}

{{ define "pageClasses" }}
  <sparql-query id="pageClasses" class="d-none">
    SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }
  </sparql-query>
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

{{ define "pageSubtitle" }}
  <sparql-query id="pageSubtitle" class="d-none">
    SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }
  </sparql-query>
  {{ if .QueryResults.pageSubtitle.Bindings }}{{ (index .QueryResults.pageSubtitle.Bindings 0).description.Value }}{{ end }}
{{ end }}

{{ define "pageContent" }}
  <div class="container-fluid">
    
    <div class="row">
      <div class="column">

        <!-- literals -->
        <div class="mb-3">
          <sparql-query id="literals" class="d-none">
            SELECT ?property ?value WHERE {
              BIND (?? AS ?s)
              ?s ?property ?value .
              FILTER (isLiteral(?value))
            } LIMIT 1000
          </sparql-query>
          {{ template "sparqlGrid" (dict 
                "result" .QueryResults.literals 
                "id" "literals"
                "title" "Attributes"
                "icon" "tags")
          }}
        </div>

      </div>
    </div>  

    <div class="row">
      <div class="col-lg-6">

        <!-- outgoing relationships -->
        <div class="mb-3">
          <sparql-query id="outgoing" class="d-none">
            SELECT ?property ?object WHERE {
              BIND (?? AS ?s)
              ?s ?property ?object .
              FILTER (isIRI(?object))
              FILTER (?property != rdf:type)
              FILTER (?property != rdfs:subClassOf) 
            } LIMIT 1000
          </sparql-query>
          {{ template "sparqlTable" (dict 
                "result" .QueryResults.outgoing 
                "id" "outgoing" 
                "title" "Outgoing Relationships"
                "icon" "expand") 
          }}
        </div>

      </div>

      <div class="col-lg-6">

        <!-- incoming relationships -->
        <div class="mb-3">
          <sparql-query id="incoming" class="d-none">
            SELECT ?property ?subject WHERE {
              BIND (?? AS ?o)
              ?subject ?property ?o .
              FILTER (?property != rdf:type)
              FILTER (?property != rdfs:subClassOf)
            } LIMIT 1000
          </sparql-query>
          {{ template "sparqlTable" (dict 
              "result" .QueryResults.incoming 
              "id" "incoming" 
              "title" "Incoming Relationships" 
              "icon" "shrink") 
          }}
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">

        <!-- instances of this class -->
        <div class="mb-3">
          <sparql-query id="instances" class="d-none">
            SELECT ?instance ?description WHERE {
              BIND (?? AS ?class)
              ?instance (rdf:type|owl:type) ?class .
              OPTIONAL { ?instance schema:description ?description . }
            } LIMIT 5000
          </sparql-query>
          {{ template "sparqlTable" (dict 
              "result" .QueryResults.instances 
              "id" "instances" 
              "title" "Instances of this Class"
              "icon" "circle-stop") 
          }}
        </div>

      </div>

      <div class="col-lg-6">

        <!-- superclasses of this class -->
        <div class="mb-3">
          <sparql-query id="superclasses" class="d-none">
            SELECT ?superclass ?description WHERE {
              ?? rdfs:subClassOf ?superclass .
              OPTIONAL { ?superclass (rdfs:comment|schema:description) ?description . }
            } LIMIT 5000
          </sparql-query>
          {{ template "sparqlTable" (dict 
              "result" .QueryResults.superclasses 
              "id" "superclasses" 
              "title" "Superclasses of this Class"
              "icon" "circle-arrow-up") 
          }}
        </div>

        <!-- subclasses of this class -->
        <div class="mb-3">
          <sparql-query id="subclasses" class="d-none">
            SELECT ?subclass ?description WHERE {
              ?subclass rdfs:subClassOf ?? .
              OPTIONAL { ?subclass (rdfs:comment|schema:description) ?description . }
            } LIMIT 5000
          </sparql-query>
          {{ template "sparqlTable" (dict 
              "result" .QueryResults.subclasses 
              "id" "subclasses" 
              "title" "Subclasses of this Class"
              "icon" "circle-arrow-down")
          }}
        </div>

      </div>
    </div>

  </div>  


{{ end }}

