{{ define "pageTitle" }}What's New{{ end }}

{{ define "pageContent" }}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">`Some recent changes to visoto</h3>
  </div>
  <div class="card-body">
    <ul>
      <li>Added links to the menu to make cubes (cube.link) entities accessible</li>
      <li>The graph explorer has been improved, however, it only works on the LINDAS next end points (due to limitation of Stardog)</li>
      <li>Added a metrics partial, to display counts of various resource types in the knowledge graph</li>
      <li>Select a pre-configured SPARQL endpoint from the menu to connect Visoto to other endpoints, particularly useful when comparing different environments like test, dev or prod.</li>
    </ul>
  </div>
</div>

{{ end }}
