<!-- Default instance template, used for any instance without a specific template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- relationships -->
  <div class="row">

    <!-- outgoing relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="outgoing" class="d-none">
          SELECT ?property ?destination ?type WHERE {
            BIND (?? AS ?s)
            ?s ?property ?destination .
            OPTIONAL { ?destination a ?type . }
            FILTER (isIRI(?destination))
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
              "result" .QueryResults.outgoing
              "id" "outgoing"
              "title" "Outgoing Relationships"
              "icon" "expand"
              "iconVar" "type")
        }}
      </div>
    </div>

    <!-- incoming relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="incoming" class="d-none">
          SELECT ?type ?source ?property WHERE {
            BIND (?? AS ?o)
            ?source ?property ?o .
            OPTIONAL { ?source a ?type . }
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
            FILTER (?property NOT IN (
              schema:rangeIncludes,
              schema:domainIncludes,
              rdfs:range,
              rdfs:domain,
              owl:equivalentClass,
              owl:disjointWith,
              owl:unionOf,
              owl:intersectionOf
            ))
            FILTER (!STRSTARTS(STR(?property), "http://www.w3.org/ns/shacl#"))
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.incoming
            "id" "incoming"
            "title" "Incoming Relationships"
            "icon" "shrink"
            "iconVar" "type")
        }}
      </div>
    </div>

  </div>

</div>
{{ end }}
