<!-- Default instance template, used for any instance without a specific template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- relationships -->
  <div class="row">

    <!-- outgoing relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-async id="outgoing">
          SELECT ?property ?destination ?type WHERE {
            ?? ?property ?destination .
            OPTIONAL { ?destination a ?type . }
            FILTER (isIRI(?destination))
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
          } LIMIT 10000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
              "queryId" "outgoing"
              "iri" .ResourceIRI
              "title" (t "card.outgoingRelationships" "Outgoing Relationships")
              "icon" "expand"
              "iconVar" "type")
        }}
      </div>
    </div>

    <!-- incoming relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-async id="incoming">
          SELECT ?type ?source ?property WHERE {
            ?source ?property ?? .
            FILTER (?property NOT IN (
              rdf:type,
              rdfs:subClassOf,
              schema:rangeIncludes,
              schema:domainIncludes,
              rdfs:range,
              rdfs:domain
            ))
            FILTER (!STRSTARTS(STR(?property), "http://www.w3.org/2002/07/owl#"))
            FILTER (!STRSTARTS(STR(?property), "http://www.w3.org/ns/shacl#"))
            OPTIONAL { ?source a ?type . }
          } LIMIT 10000
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "incoming"
            "iri" .ResourceIRI
            "title" (t "card.incomingRelationships" "Incoming Relationships")
            "icon" "shrink"
            "iconVar" "type")
        }}
      </div>
    </div>

  </div>

</div>
{{ end }}
