<!-- Instance template for Zefix OrganisationS -->

{{ define "pageTitle" }}
  <sparql-query id="title" class="d-none">
    SELECT ?title WHERE { ?? (rdfs:label|schema:name) ?title . } LIMIT 1
  </sparql-query>
  {{ if gt (len .QueryResults.title.Bindings) 0 }}
    {{ (index .QueryResults.title.Bindings 0).title.Value }}
  {{ end }}
{{ end }}

{{ define "pageClasses" }}
  <sparql-query id="pageClasses" class="d-none">
    SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }
  </sparql-query>
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

{{ define "pageContent" }}

<div class="mt-3">
  <sparql-query id="attributes" style="display: none;">
    SELECT ?attribute ?value WHERE {
      ?? ?attribute ?value .
      FILTER ( isLiteral( ?value ) )
    } LIMIT 100
  </sparql-query>
  {{ template "sparqlTable" (dict "result" .QueryResults.attributes "id" "attributes" "title" "Attributes" "icon" "tags") }}
</div>

<div class="mt-3">
  <sparql-query id="outgoing" style="display: none;">
    SELECT ?objectProperty ?object WHERE {
      BIND (?? AS ?s)
      ?s ?objectProperty ?object .
      FILTER (isIRI( ?object))
      FILTER (?objectProperty != rdf:type)
    } LIMIT 100
  </sparql-query>
  {{ template "sparqlTable" (dict "result" .QueryResults.outgoing "id" "outgoing" "title" "Outgoing Relationships" "icon" "expand") }}
</div>

<div class="mt-3">
  <sparql-query id="incoming" style="display: none;">
    SELECT ?incomingObject ?objectProperty WHERE {
      BIND (?? AS ?s)
      ?incomingObject ?objectProperty ?s .
    } LIMIT 1000
  </sparql-query>
  {{ template "sparqlTable" (dict "result" .QueryResults.incoming "id" "incoming" "title" "Incoming Relationships" "icon" "shrink") }}
</div>

{{ end }}