<!-- Zefix Organisation Instance -->

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}

{{ define "pageContent" }}
<div>

  <div class="mt-3">
    <sparql-query id="attributes" style="display: none;">
      SELECT ?attribute ?value WHERE {
        ?? ?attribute ?value .
        FILTER ( isLiteral( ?value ) )
      } LIMIT 100
    </sparql-query>
    {{ template "sparqlTable" (dict "result" .QueryResults.attributes "id" "attributes" "title" "Attributes" "icon" "tags") }}
  </div>

  <div class="mt-3">
    <sparql-query id="outgoing" style="display: none;">
      SELECT ?relationship ?destination ?type  WHERE {
        BIND (?? AS ?s)
        ?s ?relationship ?destination .
        OPTIONAL { ?destination a ?type . }
        FILTER (isIRI( ?destination))
        FILTER (?relationship != rdf:type)
      } LIMIT 100
    </sparql-query>
    {{ template "sparqlTable" (dict "result" .QueryResults.outgoing "id" "outgoing" "title" "Outgoing Relationships" "icon" "expand" "iconVar" "type") }}
  </div>

  <div class="mt-3">
    <sparql-query id="incoming" style="display: none;">
      SELECT ?type ?source ?relationship WHERE {
        BIND (?? AS ?s)
        ?source ?relationship ?s .
        OPTIONAL { ?source a ?type . }
      } LIMIT 1000
    </sparql-query>
    {{ template "sparqlTable" (dict "result" .QueryResults.incoming "id" "incoming" "title" "Incoming Relationships" "icon" "shrink" "iconVar" "type") }}
  </div>

</div>
{{ end }}