<!-- Zefix Organisation Instance -->

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}

{{ define "pageContent" }}
<div>

  <div class="mt-3">
    <sparql-query id="attributes" class="d-none">
      SELECT ?property ?value WHERE {
        BIND (?? AS ?s)
        ?s ?property ?value .
        FILTER (isLiteral(?value))
      } LIMIT 1000
    </sparql-query>
    {{ template "sparqlGrid" (dict
          "result" .QueryResults.attributes
          "id" "attributes"
          "title" "Attributes"
          "icon" "tags")
    }}
  </div>

  <div class="row">
    <div class="col-lg mt-3">
      <sparql-query id="identifiers" class="d-none">
        SELECT ?property ?value WHERE {
          BIND (?? AS ?s)
          {
            ?s schema:identifier ?id .
            ?id schema:name ?property ;
                schema:value ?value .
          } UNION {
            ?s schema:additionalType ?value .
            BIND (schema:additionalType AS ?property)
          }
        } LIMIT 100
      </sparql-query>
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.identifiers
            "id" "identifiers"
            "title" "Identifiers"
            "icon" "fingerprint")
      }}
    </div>
    <div class="col-lg mt-3">
      <sparql-query id="address" class="d-none">
        SELECT ?property ?value WHERE {
          BIND (?? AS ?s)
          ?s schema:address ?address .
          ?address ?property ?value .
          FILTER (isLiteral(?value))
        } LIMIT 100
      </sparql-query>
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.address
            "id" "address"
            "title" "Address"
            "icon" "map-pin")
      }}
    </div>
  </div>

</div>
{{ end }}