<!-- RDF Class Template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="classInstances">
          SELECT ?instance ?description WHERE {
            ?instance a ?? .
            OPTIONAL { ?instance visoto:description ?description .
              FILTER (lang(?description) = visoto:dispLang || lang(?description) = "") }
          }
        </sparql-async>
        <sparql-columns for="classInstances">
          <sparql-column var="instance" icon></sparql-column>
        </sparql-columns>

        {{ template "sparqlAsyncTable" (dict
            "queryId" "classInstances"
            "iri" .ResourceIRI
            "title" (t "card.instancesOfThisClass" "Instances of this class")
            "icon" "circle-dot")
        }}
      </div>
    </div>
  </div>

</div>
{{ end }}
