<!-- RDF Class Template -->

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaIcon"  }}{{ resourceIcon . }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageContent" }}
<div>

  <!-- literals -->
  <div class="row">
    <div class="column">
      <div class="mb-3">
        <sparql-query id="literals" class="d-none">
          SELECT ?property ?value WHERE {
            BIND (?? AS ?s)
            ?s ?property ?value .
            FILTER (isLiteral(?value))
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlGrid" (dict
              "result" .QueryResults.literals
              "id" "literals"
              "title" "Attributes"
              "icon" "tags")
        }}
      </div>
    </div>
  </div>

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-query id="instances" class="d-none">
          SELECT DISTINCT ?instance ?label ?comment WHERE {
            ?instance a ?? .
            OPTIONAL { ?instance rdfs:label ?label . }
            OPTIONAL { ?instance (rdfs:comment|schema:description) ?comment . }
          }
          LIMIT 10000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.instances
            "id" "instances"
            "title" "Instances of this class"
            "icon" "circle-dot")
        }}
      </div>
    </div>
  </div>

  <!-- subclasses -->
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="subclasses" class="d-none">
          SELECT DISTINCT ?subclass ?label WHERE {
            BIND (?? AS ?class)
            ?subclass rdfs:subClassOf ?class .
            OPTIONAL { ?subclass rdfs:label ?label . }
          }
          ORDER BY ?subclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.subclasses
            "id" "subclasses"
            "title" "Subclasses"
            "icon" "circle-chevron-down"
            "collapsed" true)
        }}
      </div>
    </div>

    <!-- superclasses -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="superclasses" class="d-none">
          SELECT DISTINCT ?superclass ?label WHERE {
            BIND (?? AS ?class)
            ?class rdfs:subClassOf ?superclass .
            OPTIONAL { ?superclass rdfs:label ?label . }
          }
          ORDER BY ?superclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.superclasses
            "id" "superclasses"
            "title" "Superclasses"
            "icon" "circle-chevron-up"
            "collapsed" true)
        }}
      </div>
    </div>
  </div>

  <!-- relationships -->
  <div class="row">

    <!-- incoming relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="incoming" class="d-none">
          SELECT ?source ?property WHERE {
            BIND (?? AS ?o)
            ?source ?property ?o .
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.incoming
            "id" "incoming"
            "title" "Incoming Relationships"
            "icon" "shrink"
            "collapsed" true)
        }}
      </div>
    </div>

    <!-- outgoing relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="outgoing" class="d-none">
          SELECT ?property ?destination WHERE {
            BIND (?? AS ?s)
            ?s ?property ?destination .
            FILTER (isIRI(?destination))
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
              "result" .QueryResults.outgoing
              "id" "outgoing"
              "title" "Outgoing Relationships"
              "icon" "expand"
              "collapsed" true)
        }}
      </div>
    </div>

  </div>

  <!-- ontology and SHACL properties -->
  <div class="row">

    <!-- ontology properties -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="ontology" class="d-none">
          SELECT ?subject ?property ?object WHERE {
            BIND (?? AS ?object)
            ?subject ?property ?object .
            FILTER (?property IN (
              schema:rangeIncludes,
              schema:domainIncludes,
              rdfs:range,
              rdfs:domain,
              owl:equivalentClass,
              owl:disjointWith,
              owl:unionOf,
              owl:intersectionOf
            ))
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.ontology
            "id" "ontology"
            "title" "Schema information"
            "icon" "circle-dashed"
            "collapsed" true)
        }}
      </div>

    </div>

    <!-- SHACL properties -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="shacl" class="d-none">
          SELECT ?subject ?property ?object WHERE {
            BIND (?? AS ?object)
            ?subject ?property ?object .
            FILTER (STRSTARTS(STR(?property), "http://www.w3.org/ns/shacl#"))
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.shacl
            "id" "shacl"
            "title" "Shape information (SHACL)"
            "icon" "shapes"
            "collapsed" true)
        }}
      </div>

    </div>

  </div>

</div>
{{ end }}
