<!-- RDF Class Template -->

{{ template "pageHeader" . }}

{{ define "pageContent" }}
<div>

  {{ template "literals" . }}

  <!-- instances: classes defined as rdfs:Class or owl:Class -->
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <sparql-async id="classInstances">
          SELECT ?instance ?description WHERE {
            ?instance a ?? .
            OPTIONAL { ?instance visoto:description ?description .
              FILTER (lang(?description) = visoto:dispLang || lang(?description) = "") }
          }
        </sparql-async>
        {{ template "sparqlAsyncTable" (dict
            "queryId" "classInstances"
            "iri" .ResourceIRI
            "title" (t "card.instancesOfThisClass" "Instances of this class")
            "icon" "circle-dot"
            "iconVar" "instance")
        }}
      </div>
    </div>
  </div>

  <!-- subclasses -->
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="subclasses">
          SELECT DISTINCT ?subclass ?label WHERE {
            BIND (?? AS ?class)
            ?subclass rdfs:subClassOf ?class .
            OPTIONAL { ?subclass rdfs:label ?label . }
          }
          ORDER BY ?subclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.subclasses
            "id" "subclasses"
            "title" (t "card.subclasses" "Subclasses")
            "icon" "circle-chevron-down"
            "collapsed" true)
        }}
      </div>
    </div>

    <!-- superclasses -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="superclasses">
          SELECT DISTINCT ?superclass ?label WHERE {
            BIND (?? AS ?class)
            ?class rdfs:subClassOf ?superclass .
            OPTIONAL { ?superclass rdfs:label ?label . }
          }
          ORDER BY ?superclass
          LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
            "result" .QueryResults.superclasses
            "id" "superclasses"
            "title" (t "card.superclasses" "Superclasses")
            "icon" "circle-chevron-up"
            "collapsed" true)
        }}
      </div>
    </div>
  </div>


  {{ template "ontologyShacl" . }}

</div>
{{ end }}
