<!-- Canton Instance Template -->

<sparql-query id="breadcrumbs">
  SELECT ?country WHERE {
    ?? schema:containedInPlace ?country . ?country a schema:Country .
  }
</sparql-query>
{{ define "breadcrumb" }}
  <li class="breadcrumb-item">{{ render (index (index .QueryResults.breadcrumbs.Bindings 0) "country") }}</li>
{{ end}}

<sparql-query id="title">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle">SELECT ?description WHERE { ?? visoto:description ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageIcon" }}
  <sparql-query id="pageIcon">
    PREFIX schema: &lt;http://schema.org/&gt;
    PREFIX wdt: &lt;http://www.wikidata.org/prop/direct/&gt;
    PREFIX wd: &lt;http://www.wikidata.org/entity/&gt;
    SELECT ?coatOfArms WHERE {
      ?? schema:alternateName ?alternateName .
      SERVICE &lt;https://query.wikidata.org/sparql&gt; {
        ?wdCanton wdt:P31 wd:Q23058 ;
                  wdt:P8119 ?iso31662 ;
                  wdt:P94 ?coatOfArms .
      }
      BIND(CONCAT("CH.", ?alternateName) AS ?isoCode)
      FILTER(?iso31662 = ?isoCode)
    }
  </sparql-query>
  {{ $coatOfArms := "" }}
  {{ if .QueryResults.pageIcon.Bindings }}
    {{ with (index .QueryResults.pageIcon.Bindings 0).coatOfArms }}
      {{ $coatOfArms = .Value }}
    {{ end }}
  {{ end }}
  {{ if $coatOfArms }}
    <img src="{{ $coatOfArms }}" alt="{{ t "type.canton.cantonCoatOfArms" "Canton coat of arms" }}" width="64" height="64" style="object-fit: contain;">
  {{ else }}
    <img src="{{ resourceIcon . }}" alt="{{ t "type.canton.pageIcon" "Page icon" }}" width="48" height="48">
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>
  <div class="row mb-3">

    <!-- Attributes -->
    <div class="col-lg mt-3">
      <sparql-query id="attributes">
        SELECT ?property ?value WHERE {
          BIND (?? AS ?s)
          ?s ?property ?value .
          FILTER (isLiteral(?value))
        } LIMIT 1000
      </sparql-query>
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.attributes
            "id" "attributes"
            "title" (t "card.attributes" "Attributes")
            "icon" "tags")
      }}
    </div>

  </div>
  <div class="row mb-3">

    <!-- Districts -->
    <div class="col-lg mt-3">
      <sparql-query id="districts">
        SELECT ?district ?identifier (MIN(?vf) AS ?validFrom) (MIN(?vt) AS ?validThrough) (COUNT(DISTINCT ?municipality) AS ?municipalities) WHERE {
          ?? schema:hasPart ?district .
          ?district a schch:District .
          OPTIONAL { ?district schema:identifier ?identifier . }
          OPTIONAL {
            ?district vl:version ?version .
            ?version schema:validFrom ?vf .
            OPTIONAL { ?version schema:validThrough ?vt . }
          }
          OPTIONAL { ?municipality schema:containedInPlace ?district . }
        }
        GROUP BY ?district ?identifier
        ORDER BY ?identifier
        LIMIT 5000
      </sparql-query>
      <sparql-columns for="districts">
        <sparql-column var="district" label="{{ t "facet.district" "District" }}" icon></sparql-column>
        <sparql-column var="identifier" label="{{ t "facet.identifier" "Identifier" }}"></sparql-column>
        <sparql-column var="municipalities" label="{{ t "facet.municipalityCount" "Municipalities" }}"></sparql-column>
        <sparql-column var="validFrom" label="{{ t "facet.validFrom" "Valid from" }}"></sparql-column>
        <sparql-column var="validThrough" label="{{ t "facet.validThrough" "Valid through" }}"></sparql-column>
      </sparql-columns>

      {{ template "sparqlTable" (dict
            "result" .QueryResults.districts
            "id" "districts"
            "title" (t "card.districts" "Districts")
            "icon" "map-pinned")
      }}
    </div>

    <!-- Municipalities -->
    <div class="col-lg mt-3">
      <sparql-query id="municipalities">
        SELECT ?municipality ?identifier ?district (MIN(?vf) AS ?validFrom) (MIN(?vt) AS ?validThrough) WHERE {
          ?municipality schema:containedInPlace ?? .
          ?municipality a schch:Municipality .
          OPTIONAL { ?municipality schema:identifier ?identifier . }
          OPTIONAL { ?municipality schema:containedInPlace ?district . ?district a schch:District . }
          OPTIONAL {
            ?municipality vl:version ?version .
            ?version schema:validFrom ?vf .
            OPTIONAL { ?version schema:validThrough ?vt . }
          }
        }
        GROUP BY ?municipality ?identifier ?district
        ORDER BY ?identifier
        LIMIT 5000
      </sparql-query>
      <sparql-columns for="municipalities">
        <sparql-column var="municipality" label="{{ t "facet.municipality" "Municipality" }}" icon></sparql-column>
        <sparql-column var="district" label="{{ t "facet.district" "District" }}" icon></sparql-column>
        <sparql-column var="identifier" label="{{ t "facet.identifier" "Identifier" }}"></sparql-column>
        <sparql-column var="validFrom" label="{{ t "facet.validFrom" "Valid from" }}"></sparql-column>
        <sparql-column var="validThrough" label="{{ t "facet.validThrough" "Valid through" }}"></sparql-column>
      </sparql-columns>

      {{ template "sparqlTable" (dict
            "result" .QueryResults.municipalities
            "id" "municipalities"
            "title" (t "card.municipalities" "Municipalities")
            "icon" "map-pinned")
      }}
    </div>

  </div>

  {{ template "relationships" . }}
</div>
{{ end }}
