<!-- Municipality instance template -->

<sparql-query id="breadcrumbs" class="d-none">
  SELECT ?canton ?country ?district WHERE 
  { 
    ?? schema:containedInPlace ?district . ?district a schch:District .
    ?district schema:containedInPlace ?canton . ?canton a schch:Canton .
    ?canton schema:containedInPlace ?country . ?country a schema:Country .
  }
</sparql-query>
{{ define "breadcrumb" }}
  <li class="breadcrumb-item">{{ render (index (index .QueryResults.breadcrumbs.Bindings 0) "country") }}</li>
  <li class="breadcrumb-item">{{ render (index (index .QueryResults.breadcrumbs.Bindings 0) "canton") }}</li>
  <li class="breadcrumb-item">{{ render (index (index .QueryResults.breadcrumbs.Bindings 0) "district") }}</li>
{{ end}}

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? (rdfs:comment|schema:description) ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageIcon" }}
  <sparql-query id="pageIcon" class="d-none">
    PREFIX schema: &lt;http://schema.org/&gt;
    PREFIX wdt: &lt;http://www.wikidata.org/prop/direct/&gt;
    SELECT ?flagURL WHERE {
      ?? schema:identifier ?bfsCodeInt .
      BIND(STR(?bfsCodeInt) AS ?bfsCode)
      SERVICE &lt;https://query.wikidata.org/sparql&gt; {
        ?wikidataMuni wdt:P771 ?bfsCode .
        OPTIONAL { ?wikidataMuni wdt:P41 ?flag . }
        OPTIONAL { ?wikidataMuni wdt:P94 ?coa . }
        BIND(COALESCE(?flag, ?coa) AS ?image)
        BIND(STR(?image) AS ?flagURL)
      }
    }
  </sparql-query>
  {{ $flagURL := "" }}
  {{ if .QueryResults.pageIcon.Bindings }}
    {{ with (index .QueryResults.pageIcon.Bindings 0).flagURL }}
      {{ $flagURL = .Value }}
    {{ end }}
  {{ end }}
  {{ if $flagURL }}
    <img src="{{ $flagURL }}" alt="Municipality flag" width="64" height="64" style="object-fit: contain;">
  {{ else }}
    <img src="{{ resourceIcon . }}" alt="Page icon" width="48" height="48">
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>
  <div class="row mb-3">

    <!-- Attributes -->

    <div class="col-lg mt-3">
      <sparql-query id="attributes" class="d-none">
        SELECT ?property ?value WHERE {
          BIND (?? AS ?s)
          ?s ?property ?value .
          FILTER (isLiteral(?value))
          FILTER (?property != schema:postalCode)
        } LIMIT 1000
      </sparql-query>
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.attributes
            "id" "attributes"
            "title" "Attributes"
            "icon" "tags")
      }}
    </div>    

  </div>

  <div class="row mb-3">

    <!-- Postal Codes -->
    <div class="col-lg mt-3">
      <sparql-query id="postals" class="d-none">
        SELECT ?postalCode WHERE {
          BIND (?? AS ?s)
          ?s schema:postalCode ?postalCode .
        } LIMIT 1000
      </sparql-query>
      {{ template "sparqlTable" (dict
            "result" .QueryResults.postals
            "id" "postals"
            "title" "Postal Codes"
            "icon" "mail") 
      }}
    </div>      

    <!-- Stationen -->
    <div class="col-lg mt-3">
      <sparql-query id="stationen" class="d-none">
        SELECT ?station ?provider WHERE {
          ?station ?property ?? .
          ?station a gtfs:Station .
          OPTIONAL { ?station schema:provider ?provider . }   
        } LIMIT 5000
      </sparql-query>
      {{ template "sparqlTable" (dict
          "result" .QueryResults.stationen
          "id" "stationen"
          "title" "Stationen"
          "icon" "train")
      }}
    </div>    

    <!-- Zefix Organisationen -->
    <div class="col-lg mt-3">
      <sparql-query id="Organisationen" class="d-none">
        SELECT ?zefix_Organisation ?form WHERE {
          ?zefix_Organisation schch:municipality ?? .
          ?zefix_Organisation a schema:Organization .
          OPTIONAL { ?zefix_Organisation schema:additionalType ?form . }
        } LIMIT 5000
      </sparql-query>
      {{ template "sparqlTable" (dict
          "result" .QueryResults.Organisationen
          "id" "Organisationen"
          "title" "Zefix Organisationen"
          "icon" "users")
      }}
    </div>    

  </div>

  <!-- Mermaid Flow Diagram Test -->
  <div class="row mb-3">
    <div class="col">
      <div class="mb-0">
        <sparql-query id="versionflow" class="d-none">
          PREFIX schch: &lt;https://schema.ld.admin.ch/&gt;
          PREFIX vl: &lt;https://version.link/&gt;
          SELECT ?from ?predicate ?to ?fromType ?toType WHERE {
            {
              BIND (?? AS ?from)
              ?from vl:version ?to .
              BIND (vl:version AS ?predicate)
              ?from rdf:type ?fromType . FILTER (?fromType = schch:Municipality || ?fromType = vl:Version || ?fromType = vl:ChangeEvent)
              ?to   rdf:type ?toType .   FILTER (?toType = schch:Municipality || ?toType = vl:Version || ?toType = vl:ChangeEvent)
            } UNION {
              ?? vl:version ?current .
              ?current vl:predecessor* ?to .
              ?from vl:predecessor ?to .
              BIND (vl:predecessor AS ?predicate)
              ?from rdf:type ?fromType . FILTER (?fromType = schch:Municipality || ?fromType = vl:Version || ?fromType = vl:ChangeEvent)
              ?to   rdf:type ?toType .   FILTER (?toType = schch:Municipality || ?toType = vl:Version || ?toType = vl:ChangeEvent)
            } UNION {
              ?? vl:version ?current .
              ?current vl:predecessor* ?to .
              ?from vl:successor ?to .
              BIND (vl:successor AS ?predicate)
              ?from rdf:type ?fromType . FILTER (?fromType = schch:Municipality || ?fromType = vl:Version || ?fromType = vl:ChangeEvent)
              ?to   rdf:type ?toType .   FILTER (?toType = schch:Municipality || ?toType = vl:Version || ?toType = vl:ChangeEvent)
            }
          }
        </sparql-query>

        <!-- Configuration for the mermaid diagram -->
        <script type="application/json" id="versionflow-config">
        {
          "typeMap": {
            "Municipality": { "cssClass": "municipality", "shape": "rounded" },
            "Version": { "cssClass": "version", "shape": "stadium" },
            "ChangeEvent": { "cssClass": "changeEvent", "shape": "hexagon" }
          },
          "classDefs": [
            "classDef municipality color:#fff, font-size:18pt, fill:#206bc4, stroke:#206bc4, stroke-width:0px",
            "classDef version color:#206bc4, font-size:14pt, fill:#d4e6f9, stroke:#206bc4, stroke-width:0px",
            "classDef changeEvent color:#f59f00, font-size:8pt, fill:#fef3c7, stroke:#f59f00, stroke-width:0px"
          ],
          "reversePredicates": ["predecessor"]
        }
        </script>

        {{ template "sparqlMermaidFlow" (dict
              "result" .QueryResults.versionflow
              "id" "versionflow"
              "title" "Version Flow for Municipality"
              "icon" "history"
              "direction" "LR")
        }}
      </div>
    </div>
  </div>

  <!-- relationships -->
  <div class="row">

    <!-- incoming relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="incoming" class="d-none">
          SELECT ?source ?property WHERE {
            BIND (?? AS ?o)
            ?source ?property ?o .
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf)
            FILTER (?property NOT IN (
              schema:rangeIncludes,
              schema:domainIncludes,
              rdfs:range,
              rdfs:domain,
              owl:equivalentClass,
              owl:disjointWith,
              owl:unionOf,
              owl:intersectionOf
            ))
            FILTER (!STRSTARTS(STR(?property), "http://www.w3.org/ns/shacl#"))
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict 
            "result" .QueryResults.incoming 
            "id" "incoming" 
            "title" "Incoming Relationships" 
            "icon" "shrink") 
        }}
      </div>
    </div>
    
    <!-- outgoing relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="outgoing" class="d-none">
          SELECT ?property ?destination WHERE {
            BIND (?? AS ?s)
            ?s ?property ?destination .
            FILTER (isIRI(?destination))
            FILTER (?property != rdf:type)
            FILTER (?property != rdfs:subClassOf) 
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict 
              "result" .QueryResults.outgoing 
              "id" "outgoing" 
              "title" "Outgoing Relationships"
              "icon" "expand") 
        }}
      </div>
    </div>

  </div>

  </div>
</div>
{{ end }}

