<!-- Country Instance Template -->

{{ define "breadcrumb" }}
{{ end}}

<sparql-query id="title">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle">SELECT ?description WHERE { ?? visoto:description ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageIcon" }}
  <sparql-query id="pageIcon">
    PREFIX wdt: &lt;http://www.wikidata.org/prop/direct/&gt;
    SELECT ?flagURL WHERE {
      ?? schema:sameAs ?wikidataEntity .
      FILTER(STRSTARTS(STR(?wikidataEntity), "http://www.wikidata.org/entity/"))
      SERVICE &lt;https://query.wikidata.org/sparql&gt; {
        OPTIONAL { ?wikidataEntity wdt:P41 ?flag . }
        OPTIONAL { ?wikidataEntity wdt:P94 ?coa . }
        BIND(COALESCE(?flag, ?coa) AS ?image)
        BIND(STR(?image) AS ?flagURL)
      }
    }
  </sparql-query>
  {{ $flagURL := "" }}
  {{ if .QueryResults.pageIcon.Bindings }}
    {{ with (index .QueryResults.pageIcon.Bindings 0).flagURL }}
      {{ $flagURL = .Value }}
    {{ end }}
  {{ end }}
  {{ if $flagURL }}
    <img src="{{ $flagURL }}" alt="{{ t "type.country.countryFlag" "Country flag" }}" width="64" height="64" style="object-fit: contain;">
  {{ else }}
    <img src="{{ resourceIcon . }}" alt="{{ t "type.country.pageIcon" "Page icon" }}" width="48" height="48">
  {{ end }}
{{ end }}


{{ define "pageContent" }}
<div>
  <div class="row mb-3">

    <!-- Attributes -->
    <div class="col-lg mt-3">
      <sparql-query id="attributes">
        SELECT ?property ?value WHERE {
          BIND (?? AS ?s)
          ?s ?property ?value .
          FILTER (isLiteral(?value))
        } LIMIT 1000
      </sparql-query>
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.attributes
            "id" "attributes"
            "title" (t "card.attributes" "Attributes")
            "icon" "tags")
      }}
    </div>

  </div>
  <div class="row mb-3">

    <!-- Cantons -->
    <div class="col-lg mt-3">
      <sparql-query id="cantons">
        SELECT ?type ?canton ?identifier WHERE {
          ?? schema:containsPlace ?canton .
          ?canton a ?type . FILTER (?type = schch:Canton)
          OPTIONAL { ?canton schema:identifier ?identifier . }
        }
        ORDER BY ?identifier
        LIMIT 5000
      </sparql-query>
      <sparql-columns for="cantons">
        <sparql-column var="type" icon></sparql-column>
      </sparql-columns>

      {{ template "sparqlTable" (dict
            "result" .QueryResults.cantons
            "id" "cantons"
            "title" (t "card.cantons" "Cantons")
            "icon" "map-pinned")
      }}
    </div>

  </div>

  {{ template "relationships" . }}
</div>
{{ end }}
