<!-- Concept Scheme Instance Template  -->

{{ define "breadcrumb" }}
  <li class="breadcrumb-item">{{ tHTML "type.conceptScheme.conceptScheme" "<a href=\"/resource?iri=skos:ConceptScheme\">Concept Scheme</a>" }}</li>
{{ end }}

<sparql-query id="title" class="d-none">SELECT ?title WHERE { ?? (rdfs:label|skos:prefLabel|schema:name) ?title . }</sparql-query>
{{ define "pageTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}
{{ define "metaTitle" }}{{ firstValue .QueryResults.title "title" }}{{ end }}

<sparql-query id="pageClasses" class="d-none">SELECT ?class WHERE { ?? (rdf:type|owl:type) ?class . }</sparql-query>
{{ define "pageClasses" }}
  {{ range $index, $binding := .QueryResults.pageClasses.Bindings }}
    {{- if $index }}, {{ end }}{{ render ((index $binding "class")) -}}
  {{ end }}
{{ end }}

<sparql-query id="pageSubtitle" class="d-none">SELECT ?description WHERE { ?? visoto:description ?description . }</sparql-query>
{{ define "pageSubtitle" }}{{ firstValue .QueryResults.pageSubtitle "description" }}{{ end }}


{{ define "pageContent" }}

  {{ template "literals" . }}

  <!-- concept hierarchy tree -->
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <sparql-query id="conceptTree" class="d-none">
          SELECT ?node ?parent ?code WHERE {
            BIND (?? AS ?conceptScheme)
            ?node skos:inScheme ?conceptScheme .
            ?node a skos:Concept .
            OPTIONAL { ?node skos:broader ?parent . }
            OPTIONAL { ?node skos:notation ?code . }
          }
        </sparql-query>
        {{ template "sparqlTree" (dict
          "result" .QueryResults.conceptTree
          "id" "conceptTree"
          "title" (t "card.conceptHierarchy" "Concept Hierarchy")
          "icon" "list-tree"
          "treeExpanded" false)
        }}
    </div>
    </div>
  </div>

  <!-- relationships (custom: filters skos:inScheme from incoming) -->
  <div class="row">

    <!-- incoming relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="incoming" class="d-none">
          SELECT ?type ?source ?property WHERE {
            BIND (?? AS ?o)
            ?source ?property ?o .
            OPTIONAL { ?source a ?type . }
            FILTER (?property != rdf:type)
            # filtering here because we show this in the table above
            FILTER (?property != skos:inScheme)
          } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
          "result" .QueryResults.incoming
          "id" "incoming"
          "title" (t "card.incomingRelationships" "Incoming Relationships")
          "icon" "shrink"
          "collapsed" true
          "iconVar" "type")
        }}
      </div>
    </div>

    <!-- outgoing relationships -->
    <div class="col-lg-6">
      <div class="mb-3">
        <sparql-query id="outgoing" class="d-none">
        SELECT ?property ?destination ?type WHERE {
          BIND (?? AS ?s)
          ?s ?property ?destination .
          OPTIONAL { ?destination a ?type . }
          FILTER (isIRI(?destination))
          FILTER (?property != rdf:type)
        } LIMIT 1000
        </sparql-query>
        {{ template "sparqlTable" (dict
          "result" .QueryResults.outgoing
          "id" "outgoing"
          "title" (t "card.outgoingRelationships" "Outgoing Relationships")
          "icon" "expand"
          "collapsed" true
          "iconVar" "type")
        }}
      </div>
      
    </div>

  </div>

{{ end }}
