<!-- SKOS Concept Instance Template -->

<sparql-query id="breadcrumbs"> SELECT ?conceptScheme { ?? skos:inScheme ?conceptScheme . } </sparql-query>
{{ define "breadcrumb" }}
  <li class="breadcrumb-item">{{ tHTML "type.concept.conceptScheme" "<a href=\"/resource?iri=skos:ConceptScheme\">Concept Scheme</a>" }}</li>
  {{ range $index, $binding := .QueryResults.breadcrumbs.Bindings }}
    <li class="breadcrumb-item">{{ render ((index $binding "conceptScheme")) }}</li>
  {{ end }}
{{ end }}

{{ template "pageHeader" . }}

{{ define "pageContent" }}

    {{ template "literals" . }}

    <!-- concept hierarchy tree -->
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <sparql-query id="conceptTree">
                    SELECT ?node ?parent ?code WHERE {
                        # which concept scheme does this node belong to?
                        ?? skos:inScheme ?conceptScheme .
                        # all nodes from this concept scheme
                        ?node skos:inScheme ?conceptScheme .
                        ?node a skos:Concept .
                        OPTIONAL { ?node skos:broader ?parent . }
                        OPTIONAL { ?node skos:notation ?code . }
                    }
                </sparql-query>
                {{ template "sparqlTree" (dict
                    "result" .QueryResults.conceptTree
                    "id" "conceptTree"
                    "title" (t "card.hierarchy" "Hierarchy")
                    "icon" "list-tree"
                    "treeExpanded" false
                    "ResourceIRI" .ResourceIRI)
                }}
            </div>
        </div>
    </div>

    {{ template "relationships" . }}

{{ end }}
