<!-- Component: literals
     Renders a sparqlGrid of literal (non-IRI) property values for the current resource.
     Usage: {{ template "literals" . }}
-->

<sparql-query id="literals" class="d-none">
  SELECT ?property ?value WHERE {
    BIND (?? AS ?s)
    ?s ?property ?value .
    FILTER (isLiteral(?value))
  } LIMIT 1000
</sparql-query>

{{ define "literals" }}
<div class="row">
  <div class="column">
    <div class="mb-3">
      {{ template "sparqlGrid" (dict
            "result" .QueryResults.literals
            "id" "literals"
            "title" (t "card.attributes" "Attributes")
            "icon" "tags")
      }}
    </div>
  </div>
</div>
{{ end }}
