<!-- Component: ontologyShacl
     Renders schema/ontology information and SHACL shape tables (collapsed by default).
     Usage: {{ template "ontologyShacl" . }}
-->

<sparql-query id="ontology">
  SELECT ?subject ?property ?object WHERE {

    {
      SELECT ?subject ?property ?object WHERE {
        BIND (?? AS ?subject)
        ?subject ?property ?object .
      } LIMIT 1000
    }

    FILTER ( ?property IN ( schema:rangeIncludes,schema:domainIncludes,rdfs:range,rdfs:domain ) || 
             STRSTARTS(STR(?property), "http://www.w3.org/2002/07/owl#"))

  } LIMIT 1000
</sparql-query>

<sparql-query id="shacl">
  SELECT ?subject ?property ?object WHERE {

    {
      SELECT ?subject ?property ?object WHERE {
        BIND (?? AS ?subject)
        ?subject ?property ?object .
      } LIMIT 1000
    }

    FILTER (STRSTARTS(STR(?property), "http://www.w3.org/ns/shacl#"))

  } LIMIT 1000
</sparql-query>

{{ define "ontologyShacl" }}
<div class="row">
  <div class="col-lg-6">
    <div class="mb-3">
      {{ template "sparqlTable" (dict
            "result" .QueryResults.ontology
            "id" "ontology"
            "title" (t "card.schemaInformation" "Schema information")
            "icon" "circle-dashed"
            "collapsed" true
            "iconVar" "subject")
      }}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="mb-3">
      {{ template "sparqlTable" (dict
            "result" .QueryResults.shacl
            "id" "shacl"
            "title" (t "card.shapeInformationSHACL" "Shape information (SHACL)")
            "icon" "shapes"
            "collapsed" true
            "iconVar" "subject")
      }}
    </div>
  </div>
</div>
{{ end }}
