<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="visoto - a visual SPARQL browser" />

    <!-- block crawlers because this is a development instance and the graph can be big (crawling creates CPU load)-->
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />

    <!-- tab -->
    <title>{{ block "metaTitle" . }}visoto{{ end }}</title>
    <link rel="icon" type="image/svg+xml" href="{{block "metaIcon" .}}{{ resourceIcon . }}{{ end }}">

    <!-- bootstrap, tabler, tabulator includes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_bootstrap5.min.css">

    <!-- overrides -->
    <link rel="stylesheet" href="/static/css/tabler_overrides.css">
    <link rel="stylesheet" href="/static/css/tabulator_overrides.css">

  </head>

  <body>
    <div class="page">

      {{ template "topbar.html" . }}

      {{ template "sidebar.html" . }}

      <div class="page-wrapper">

        <!-- Header -->
        <div class="page-header">
          <div class="container-fluid">
            <!-- we allow other templates to override this, so we use block instead of template -->
            {{ block "header" . }}
              {{ template "header.html" . }}
            {{ end }}
          </div>
        </div>
        
        <!-- Body -->
        <div class="page-body">
          <div class="container-fluid">
            {{ block "pageContent" . }}<p>This is the base page</p>{{ end }}
          </div>
        </div>

        <!-- Footer -->
        <footer class="footer footer-transparent d-print-none">
          <div class="container-fluid">
            {{ template "footer.html" . }}
          </div>
        </footer>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/js/tabler.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="/static/js/darkmode.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/search.js"></script>

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>

    {{ block "pageScripts" . }}{{ end }}

  </body>

</html>
