<!-- footer.html -->
<div class="row align-items-center">

    <!-- raw template data for debugging purposes -->
    <div class="container py-4">
        <a class="d-flex align-items-center text-decoration-none" data-bs-toggle="collapse" href="#rawDataCollapse" role="button" aria-expanded="false" aria-controls="rawDataCollapse">
            <i class="bi bi-chevron-down me-2"></i>
            <span>Raw data</span>
        </a>
        <div class="collapse mt-2" id="rawDataCollapse">
            <pre class="bg-light p-3 rounded border" style="white-space: pre-wrap; word-wrap: break-word;"><code class="language-json">{{ toJSON . }}</code></pre>
        </div>
    </div>

    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <p class="mb-0">&copy; 2025 Visoto. All rights reserved.</p>
    </div>
    <div class="col-12 col-lg-auto ms-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="/about.html" class="link-secondary">About</a></li>
        </ul>
    </div>
</div>
<!-- End footer.html -->