<header class="navbar navbar-expand-md d-print-none">
  <div class="container-fluid d-flex align-items-center">
    <!-- Always visible hamburger button -->
    <button id="sidebar-toggle" class="navbar-toggler d-block me-2" type="button" aria-label="Toggle sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- logo and title -->
    <a href="/" class="navbar-brand navbar-brand-autodark me-3 mb-0 d-flex align-items-center text-decoration-none">
      <img src="/static/img/visoto_light.svg" alt="Logo" width="48" height="48" class="navbar-brand-image me-2">
      <span>visoto</span>
    </a>

    <!-- darkmode button -->
    <div class="d-none d-md-flex">
      <div class="nav-item">
        <button id="theme-toggle" class="nav-link px-0" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
          <i id="theme-icon" class="bi bi-moon" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>