<aside class="navbar navbar-vertical navbar-expand-lg d-print-none">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">

        <!-- Zefix -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/https://schema.ld.admin.ch/ZefixOrganisation">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/ZefixOrganisation.svg" alt="Zefix Organization">
            </span>
            <span class="nav-link-title">Zefix Organization</span>
          </a>
        </li>        
        
        <!-- Municipalities -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/https://schema.ld.admin.ch/Municipality">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/Municipality.svg" alt="Municipality">
            </span>
            <span class="nav-link-title">Municipalities</span>
          </a>
        </li>

        <!-- Cantons -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/https://schema.ld.admin.ch/Canton">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/Canton.svg" alt="Canton">
            </span>
            <span class="nav-link-title">Cantons</span>
          </a>
        </li>

        <!-- Countries -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/http://schema.org/Country">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/Country.svg" alt="Country">
            </span>
            <span class="nav-link-title">Countries</span>
          </a>
        </li>

        <!-- Datasets -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/schema:Dataset">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/Dataset.svg" alt="Dataset">
            </span>
            <span class="nav-link-title">Datasets</span>
          </a>
        </li>        

        <!-- Concept Schemes -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/skos:ConceptScheme">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/ConceptScheme.svg" alt="SKOS Concept Scheme">
            </span>
            <span class="nav-link-title">Concept Schemes</span>
          </a>
        </li>

        <!-- Libraries -->
        <li class="nav-item">
          <a class="nav-link" href="/resource/https://schema.ld.admin.ch/Isil">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/Isil.svg" alt="Library">
            </span>
            <span class="nav-link-title">Libraries</span>
          </a>
        </li>


        <!-- Menu item with sub menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/resource/CivicStructure.svg" alt="Civic Structure">
            </span>
            <span class="nav-link-title">Civic Structures</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/resource/http://schema.org/CivicStructure">All</a>
            <a class="dropdown-item" href="/resource/http://schema.org/TrainStation">Train Station</a>
            <a class="dropdown-item" href="/resource/http://schema.org/BusStop">Bus Stop</a>
            <a class="dropdown-item" href="/resource/http://schema.org/Airport">Airport</a>
          </div>
        </li>

        <!-- Graph Explorer -->
        <li class="nav-item">
          <a class="nav-link" href="/ontodia.html">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/graphexplorer.svg" alt="Library">
            </span>
            <span class="nav-link-title">Graph Explorer</span>
          </a>
        </li>

        <!-- Graph Info dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#sidebar-submenu-info" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <img src="/static/img/info.svg" alt="Graph Info">
            </span>
            <span class="nav-link-title">Graph Info</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/classes.html">Classes</a>
            <a class="dropdown-item" href="/properties.html">Properties</a>
            <a class="dropdown-item" href="/namedGraphs.html">Named Graphs</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</aside>