<aside class="navbar navbar-vertical navbar-expand-lg d-print-none">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="sidebar-menu">

      <!-- Tab strip: Nav / Bookmarks -->
      <ul class="nav nav-tabs mt-2 px-1" id="sidebar-tabs" data-bs-toggle="tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="sidebar-tab-nav" data-bs-toggle="tab" href="#sidebar-panel-nav" role="tab" aria-selected="true">{{ t "nav.menu" "Menu" }}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="sidebar-tab-bookmarks" data-bs-toggle="tab" href="#sidebar-panel-bookmarks" role="tab" aria-selected="false" tabindex="-1">{{ t "nav.myLinks" "My Links" }}</a>
        </li>
      </ul>

      <div class="tab-content">

        <!-- Nav tab -->
        <div class="tab-pane show active" id="sidebar-panel-nav" role="tabpanel">
          <ul class="navbar-nav pt-lg-3">

            {{ if eq .EndpointTag "lindas" }}

            <!-- Organisation -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Organization.svg" alt="{{ t "nav.organisation" "Organisation" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.organisation" "Organisation" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=schch:ZefixOrganisation">{{ t "nav.zefixOrganisation" "Zefix Organisation" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:Organization">{{ t "nav.organizationSchemaOrg" "Organization (schema.org)" }}</a>
                <a class="dropdown-item" href="/resource?iri=vcard:Organization">{{ t "nav.organizationVCard" "Organization (vCard)" }}</a>
                <a class="dropdown-item" href="/resource?iri=foaf:Organization">{{ t "nav.organizationFoaf" "Organization (foaf)" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:GovernmentOrganization">{{ t "nav.governmentOrganization" "Government Organization" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:LobbyOrganization">{{ t "nav.lobbyOrganization" "Lobby Organization" }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/resource?iri=foaf:Agent">{{ t "nav.agentFoaf" "Agent (foaf)" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:Person">{{ t "nav.personSchemaOrg" "Person (schema.org)" }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/resource?iri=schema:Role">{{ t "nav.role" "Role" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:OrganizationRole">{{ t "nav.organizationRole" "Organization Role" }}</a>
              </div>
            </li>

            <!-- Municipalities -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=https://schema.ld.admin.ch/Municipality">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Municipality.svg" alt="{{ t "nav.municipality" "Municipality" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.municipalities" "Municipalities" }}</span>
              </a>
            </li>

            <!-- Cantons -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=https://schema.ld.admin.ch/Canton">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Canton.svg" alt="{{ t "nav.canton" "Canton" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.cantons" "Cantons" }}</span>
              </a>
            </li>

            <!-- Countries -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=http://schema.org/Country">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Country.svg" alt="{{ t "nav.country" "Country" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.countries" "Countries" }}</span>
              </a>
            </li>

            <!-- Government -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Government.svg" alt="{{ t "nav.government" "Government" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.government" "Government" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fschema.org%2FPoliticalParty">{{ t "nav.politicalParties" "Political Parties" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fschema.org%2FGovernmentOrganization">{{ t "nav.governmentOrganizations" "Government Organizations" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fschema.org%2FParliamentaryCommittee">{{ t "nav.parliamentaryCommittee" "Parliamentary Committee" }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fch.paf.link%2FProceduralRequestEntity">{{ t "nav.proceduralRequest" "Procedural Request" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fch.paf.link%2FProceduralRequestInformationEntity">{{ t "nav.requestInformation" "Request Information" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fch.paf.link%2FProceduralRequestInformationActivity">{{ t "nav.requestActivity" "Request Activity" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fch.paf.link%2FParliamentaryAffairIdentifierEntity">{{ t "nav.affairIdentifier" "Affair Identifier" }}</a>
              </div>
            </li>

            <!-- Geo Data -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Location.svg" alt="{{ t "nav.geoData" "Geo Data" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.geoData" "Geo Data" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fschema.org%2FPostalAddress">{{ t "nav.postalAddresses" "Postal Addresses" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ9687">{{ t "nav.buildings" "Buildings" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fvocab.gtfs.org%2Fterms%23Stop">{{ t "nav.transportStops" "Transport Stops" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2Ftransportation%2FOperatingPoint">{{ t "nav.operatingPoints" "Operating Points" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fschema.org%2FAdministrativeArea">{{ t "nav.administrativeAreas" "Administrative Areas" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2FCantonalTerritory">{{ t "nav.cantonalTerritories" "Cantonal Territories" }}</a>
              </div>
            </li>

            <!-- Public Transport -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Traffic.svg" alt="{{ t "nav.publicTransport" "Public Transport" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.publicTransport" "Public Transport" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fvocab.gtfs.org%2Fterms%23Station">{{ t "nav.stations" "Stations" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Flod.opentransportdata.swiss%2Fvocab%2FZone">{{ t "nav.zones" "Zones" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Flod.opentransportdata.swiss%2Fvocab%2FTarif">{{ t "nav.tariffs" "Tariffs" }}</a>
              </div>
            </li>

            <!-- Civic Structures -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/CivicStructure.fallback.svg" alt="{{ t "nav.civicStructure" "Civic Structure" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.civicStructures" "Civic Structures" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=schema:CivicStructure">{{ t "nav.all" "All" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:TrainStation">{{ t "nav.trainStation" "Train Station" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:BusStop">{{ t "nav.busStop" "Bus Stop" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:Airport">{{ t "nav.airport" "Airport" }}</a>
              </div>
            </li>

            <!-- Agriculture -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Agriculture.svg" alt="{{ t "nav.agriculture" "Agriculture" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.agriculture" "Agriculture" }}</span>
              </a>
              <div class="dropdown-menu">
                <span class="dropdown-header">{{ t "nav.plantProtection" "Plant Protection" }}</span>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Fplant-protection%2FProduct">{{ t "nav.product" "Product" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Fplant-protection%2FRegularProduct">{{ t "nav.regularProduct" "Regular Product" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Fplant-protection%2FIngredient">{{ t "nav.ingredient" "Ingredient" }}</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">{{ t "nav.inspection" "Inspection" }}</span>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Finspection%2FInspectionPoint">{{ t "nav.inspectionPoint" "Inspection Point" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Finspection%2FDefect">{{ t "nav.defect" "Defect" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Finspection%2FPossibleOutcome">{{ t "nav.possibleOutcome" "Possible Outcome" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Finspection%2FSanction">{{ t "nav.sanction" "Sanction" }}</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">{{ t "nav.foag" "FOAG" }}</span>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fagriculture.ld.admin.ch%2Ffoag%2FProduct">{{ t "nav.productFoag" "Product (FOAG)" }}</a>
              </div>
            </li>

            <!-- Records in Contexts (RiC) Archives -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/RecordSet.svg" alt="{{ t "nav.recordsInContexts" "Records in Contexts" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.archivesRiC" "Archives (RiC)" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fwww.ica.org%2Fstandards%2FRiC%2Fontology%23RecordSet">{{ t "nav.recordset" "RecordSet" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fwww.ica.org%2Fstandards%2FRiC%2Fontology%23Record">{{ t "nav.record" "Record" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fwww.ica.org%2Fstandards%2FRiC%2Fontology%23Instantiation">{{ t "nav.instantiation" "Instantiation" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fwww.ica.org%2Fstandards%2FRiC%2Fontology%23Activity">{{ t "nav.activity" "Activity" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fwww.ica.org%2Fstandards%2FRiC%2Fontology%23RecordResourceToRecordResourceRelation">{{ t "nav.recordRelation" "Record Relation" }}</a>
              </div>
            </li>

            <!-- Libraries -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=https://schema.ld.admin.ch/Isil">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Isil.svg" alt="{{ t "nav.library" "Library" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.libraries" "Libraries" }}</span>
              </a>
            </li>

            <!-- Concept Schemes -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=skos:ConceptScheme">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/ConceptScheme.svg" alt="{{ t "nav.skosConceptScheme" "SKOS Concept Scheme" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.conceptSchemes" "Concept Schemes" }}</span>
              </a>
            </li>

            <!-- Data catalog -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.dataset" "Dataset" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.dataCatalog" "Data Catalog" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=dcat:Catalog">{{ t "nav.catalog" "Catalog" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Dataset">{{ t "nav.dataset" "Dataset" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Distribution">{{ t "nav.distribution" "Distribution" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:Dataset">{{ t "nav.datasetSchemaOrg" "Dataset (schema.org)" }}</a>
                <a class="dropdown-item" href="/resource?iri=void:Dataset">{{ t "nav.datasetVoID" "Dataset (VoID)" }}</a>
              </div>
            </li>

            <!-- Cubes -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Cube.svg" alt="{{ t "nav.cube" "Cube" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.cubes" "Cubes" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=cube:Cube">{{ t "nav.cubeCube" "cube:Cube" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:ObservationSet">{{ t "nav.cubeObservationSet" "cube:ObservationSet" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:Observation">{{ t "nav.cubeObservation" "cube:Observation" }}</a>
                <a class="dropdown-item" href="/resource?iri=meta:SharedDimension">{{ t "nav.cubeSharedDimension" "cube:meta/SharedDimension" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:KeyDimension">{{ t "nav.cubeKeyDimension" "cube:KeyDimension" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:MeasureDimension">{{ t "nav.cubeMeasureDimension" "cube:MeasureDimension" }}</a>
              </div>
            </li>

            <!-- Defined Term Sets -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=schema:DefinedTermSet">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/DefinedTermSet.fallback.svg" alt="{{ t "nav.definedTermSet" "Defined Term Set" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.definedTermSets" "Defined Term Sets" }}</span>
              </a>
            </li>
            
          {{ else if eq .EndpointTag "stadtzuerich" }}

            <!-- Stadt Zürich: placeholder, to be customized -->
            <!-- Concept Schemes -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=schema2:DefinedTermSet">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/DefinedTermSet.fallback.svg" alt="{{ t "nav.definedTermSet" "Defined Term Set" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.definedTermSets" "Defined Term Sets" }}</span>
              </a>
            </li>

            <!-- Cubes -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Cube.svg" alt="{{ t "nav.cube" "Cube" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.cubes" "Cubes" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=cube:Cube">{{ t "nav.cubeCube" "cube:Cube" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:ObservationSet">{{ t "nav.cubeObservationSet" "cube:ObservationSet" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:Observation">{{ t "nav.cubeObservation" "cube:Observation" }}</a>
                <a class="dropdown-item" href="/resource?iri=meta:SharedDimension">{{ t "nav.cubeSharedDimension" "cube:meta/SharedDimension" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:KeyDimension">{{ t "nav.cubeKeyDimension" "cube:KeyDimension" }}</a>
                <a class="dropdown-item" href="/resource?iri=cube:MeasureDimension">{{ t "nav.cubeMeasureDimension" "cube:MeasureDimension" }}</a>
              </div>
            </li>

            <!-- Data catalog -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.dataset" "Dataset" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.dataCatalog" "Data Catalog" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=dcat:Catalog">{{ t "nav.catalog" "Catalog" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Dataset">{{ t "nav.dataset" "Dataset" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Distribution">{{ t "nav.distribution" "Distribution" }}</a>
              </div>
            </li>

          {{ else if eq .EndpointTag "swisstopo" }}

            <!-- Features (GeoSPARQL) -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=http%3A%2F%2Fwww.opengis.net%2Font%2Fgeosparql%23Feature">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Feature.svg" alt="{{ t "nav.feature" "Feature" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.features" "Features" }}</span>
              </a>
            </li>

            <!-- Geometries (GeoSPARQL) -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=http%3A%2F%2Fwww.opengis.net%2Font%2Fgeosparql%23Geometry">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Geometry.svg" alt="{{ t "nav.geometry" "Geometry" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.geometries" "Geometries" }}</span>
              </a>
            </li>

            <!-- Postal Addresses -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=schema:PostalAddress">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/PostalAddress.svg" alt="{{ t "nav.postalAddress" "Postal Address" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.postalAddresses" "Postal Addresses" }}</span>
              </a>
            </li>

            <!-- Transportation -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Traffic.svg" alt="{{ t "nav.transportation" "Transportation" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.transportation" "Transportation" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2Ftransportation%2FTransportLink">{{ t "nav.transportLinks" "Transport Links" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2Ftransportation%2FTransportNode">{{ t "nav.transportNodes" "Transport Nodes" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2Ftransportation%2FOperatingPoint">{{ t "nav.operatingPoints" "Operating Points" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fvocab.gtfs.org%2Fterms%23Stop">{{ t "nav.transportStops" "Transport Stops" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ62447">{{ t "nav.aerodromes" "Aerodromes" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ1497053">{{ t "nav.mountainLandingSites" "Mountain Landing Sites" }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ9687">{{ t "nav.roadTrafficAccidents" "Road Traffic Accidents" }}</a>
              </div>
            </li>

            <!-- Administrative Units -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/AdministrativeArea.svg" alt="{{ t "nav.administrativeUnits" "Administrative Units" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.administrativeUnits" "Administrative Units" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fld.admin.ch%2Fech%2F71%2FMunicipalityVersion">{{ t "nav.municipalityVersions" "Municipality Versions" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ14872996">{{ t "nav.municipalBoundaries" "Municipal Boundaries" }}</a>
                <a class="dropdown-item" href="/resource?iri=https%3A%2F%2Fgeo.ld.admin.ch%2Fdef%2FCantonalTerritory">{{ t "nav.cantonalTerritories" "Cantonal Territories" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:AdministrativeArea">{{ t "nav.administrativeAreas" "Administrative Areas" }}</a>
                <a class="dropdown-item" href="/resource?iri=schema:Place">{{ t "nav.places" "Places" }}</a>
              </div>
            </li>

            <!-- Environment & Energy -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Location.svg" alt="{{ t "nav.environmentAndEnergy" "Environment and Energy" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.environmentEnergy" "Environment & Energy" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ15911738">{{ t "nav.hydropowerPlants" "Hydropower Plants" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ567998">{{ t "nav.bathingWaters" "Bathing Waters" }}</a>
                <a class="dropdown-item" href="/resource?iri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ1924376">{{ t "nav.airQualityStations" "Air Quality Stations" }}</a>
              </div>
            </li>

            <!-- Data catalog -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.dataset" "Dataset" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.dataCatalog" "Data Catalog" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=schema:Dataset">{{ t "nav.datasetSchemaOrg" "Dataset (schema.org)" }}</a>
                <a class="dropdown-item" href="/resource?iri=void:Dataset">{{ t "nav.datasetVoID" "Dataset (VoID)" }}</a>
              </div>
            </li>

            <!-- Concept Schemes -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=skos:ConceptScheme">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/ConceptScheme.svg" alt="{{ t "nav.skosConceptScheme" "SKOS Concept Scheme" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.conceptSchemes" "Concept Schemes" }}</span>
              </a>
            </li>

          {{ else if eq .EndpointTag "datacatalog" }}

            <!-- Catalog -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=dcat:Catalog">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.catalog" "Catalog" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.catalog" "Catalog" }}</span>
              </a>
            </li>

            <!-- Dataset -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=dcat:Dataset">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.dataset" "Dataset" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.dataset" "Dataset" }}</span>
              </a>
            </li>

            <!-- Distribution -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=dcat:Distribution">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.distribution" "Distribution" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.distribution" "Distribution" }}</span>
              </a>
            </li>

            <!-- Concept Schemes -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=skos:ConceptScheme">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/ConceptScheme.svg" alt="{{ t "nav.skosConceptScheme" "SKOS Concept Scheme" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.conceptSchemes" "Concept Schemes" }}</span>
              </a>
            </li>

          {{ else }}

            <!-- Generic fallback for unknown endpoints -->
            <!-- Concept Schemes -->
            <li class="nav-item">
              <a class="nav-link" href="/resource?iri=skos:ConceptScheme">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/ConceptScheme.svg" alt="{{ t "nav.skosConceptScheme" "SKOS Concept Scheme" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.conceptSchemes" "Concept Schemes" }}</span>
              </a>
            </li>

            <!-- Data catalog -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Dataset.svg" alt="{{ t "nav.dataset" "Dataset" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.dataCatalog" "Data Catalog" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=dcat:Catalog">{{ t "nav.catalog" "Catalog" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Dataset">{{ t "nav.dataset" "Dataset" }}</a>
                <a class="dropdown-item" href="/resource?iri=dcat:Distribution">{{ t "nav.distribution" "Distribution" }}</a>
              </div>
            </li>

          {{ end }}

            <!-- Schema/Ontology Objects — always visible -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/resource/Class.svg" alt="{{ t "nav.schema" "Schema" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.schema" "Schema" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/resource?iri=rdfs:Class">{{ t "nav.rdfsClass" "rdfs:Class" }}</a>
                <a class="dropdown-item" href="/resource?iri=owl:Class">{{ t "nav.owlClass" "owl:Class" }}</a>
                <a class="dropdown-item" href="/resource?iri=rdf:Property">{{ t "nav.rdfProperty" "rdf:Property" }}</a>
                <a class="dropdown-item" href="/resource?iri=owl:Ontology">{{ t "nav.owlOntology" "owl:Ontology" }}</a>
              </div>
            </li>

            <!-- Graph Info dropdown — always visible -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#sidebar-submenu-info" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <img src="/static/img/info.svg" alt="{{ t "nav.graphInfo" "Graph Info" }}">
                </span>
                <span class="nav-link-title">{{ t "nav.graphInfo" "Graph Info" }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/classes.html">{{ t "nav.classes" "Classes" }}</a>
                <a class="dropdown-item" href="/properties.html">{{ t "nav.properties" "Properties" }}</a>
                <a class="dropdown-item" href="/namedGraphs.html">{{ t "nav.namedGraphs" "Named Graphs" }}</a>
                <a class="dropdown-item" href="/dataIssues.html">{{ t "nav.dataIssues" "Data Issues" }}</a>
                <a class="dropdown-item" href="/multiAttribution.html">{{ t "nav.multiAttribution" "Multi-Attribution" }}</a>
                <a class="dropdown-item" href="/connect.html">{{ t "nav.connectYourAi" "Connect your AI" }}</a>
              </div>
            </li>

          </ul>
        </div>

        <!-- Bookmarks tab -->
        <div class="tab-pane" id="sidebar-panel-bookmarks" role="tabpanel">
          <ul class="navbar-nav pt-lg-3" id="bookmarks-list">
            <!-- populated by bookmarks.js -->
          </ul>
          <div id="bookmarks-drop-zone" class="bookmarks-drop-zone px-3 py-4 mt-1 text-center text-muted small rounded">
            <i data-lucide="bookmark-plus" style="width:20px;height:20px;" class="d-block mx-auto mb-1 opacity-50"></i>
            {{ t "bookmarks.dropHint" "Drop a resource here" }}
          </div>
        </div>

      </div><!-- end tab-content -->

    </div>
  </div>
</aside>
