<!-- horizontal Topbar start -->



<header class="navbar navbar-expand-md sticky-top d-print-none">
  <div class="container-fluid d-flex align-items-center">

    <!-- hamburger button to toggle sidebar  -->
    <div class="nav-item">
        <button id="sidebar-toggle" class="nav-link px-0" type="button" aria-label="Toggle sidebar">
          <i class="bi bi-list" style="font-size: 1rem;"></i>
        </button>
    </div>

    <!-- logo and title -->
    <a href="/" class="navbar-brand navbar-brand-autodark ms-3 mb-0 d-flex align-items-center text-decoration-none">
      <img src="/static/img/visoto_light.svg" alt="Logo" width="48" height="48" class="navbar-brand-image me-1">
      <span class="d-none d-md-inline">visoto</span>
    </a>

    <!-- search field -->
    <div class="nav-item mx-auto" style="width: 50%;">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
    </div>

    <!-- darkmode button -->
    <div class="d-none d-md-flex">
      <div class="nav-item">
        <button id="theme-toggle" class="nav-link px-0" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
          <i id="theme-icon" class="bi bi-moon" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- horizontal Topbar end -->