<!-- horizontal Topbar start -->
<header class="navbar navbar-expand-md sticky-top d-print-none">
  <div class="container-fluid d-flex align-items-center">

    <!-- hamburger button to toggle sidebar  -->
    <div class="nav-item">
        <button id="sidebar-toggle" class="nav-link px-0" type="button" aria-label="Toggle sidebar">
          <i class="bi bi-list" style="font-size: 1rem;"></i>
        </button>
    </div>

    <!-- logo and title -->
    <a href="/" class="navbar-brand navbar-brand-autodark ms-3 mb-0 d-flex align-items-center text-decoration-none">
      <img src="/static/img/visoto_light.svg" alt="Logo" width="48" height="48" class="navbar-brand-image me-1 logo-light">
      <img src="/static/img/visoto_dark.svg" alt="Logo" width="48" height="48" class="navbar-brand-image me-1 logo-dark">
      <span class="d-none d-md-inline">visoto</span>
    </a>

    <!-- search field -->
    <div class="nav-item mx-auto" style="width: 50%;">
      <form action="/search" method="GET" id="topbar-search-form">
        <input
          type="text"
          name="q"
          id="topbar-search-input"
          class="form-control"
          placeholder="Search (Lucene syntax)..."
          aria-label="Search">
      </form>
    </div>

    <!-- darkmode button -->
    <div class="d-none d-md-flex">
      <div class="nav-item">
        <button id="theme-toggle" class="nav-link px-0" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
          <i id="theme-icon" class="bi bi-moon" aria-hidden="true"></i>
        </button>
      </div>

      <!-- right sidebar toggle button -->
      <div class="nav-item ms-2">
        <button id="right-sidebar-toggle" class="nav-link px-0" type="button" aria-label="Toggle right sidebar">
          <i data-lucide="sparkle" style="width: 1rem; height: 1rem;"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- horizontal Topbar end -->